.note
{
  background-color: #ede9f3;
  border: none;
  border-radius: 5px;
  margin: 12px 12px 12px 5px;
}

.note-head
{
  background-color: #afa4bb;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
}

.note-body
{
  padding: 0px 10px 10px 10px;
}

.note.warningnote
{
  background-color: #ffc484;
  border: 1px solid #ff7531;
}

.note-head.warningnote
{
  background-color: #ff9231;
}

.note.important
{
  background-color: #e4c3c3;
}

.note-head.important
{
  background-color: #b16666;
}

.note.tip
{
  background-color: #e4e4e4;
  border: 1px solid #d4d4e6;
}

.note-head.tip
{
  background-color: #6793ce;
}

.note-head.codenote
{
  background-color: #798abb;
  font-size: 1.0em;
  font-variant: normal;
}

.note-head.codenote .fa-code
{
  background-color: black;
  border-radius: 9px;
  color: #d37979;
  font-size: 13px;
  padding: 3px;
}

.note-head.codenote code
{
  background-color: #fff;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  line-height: 2em;
  padding: 3px 9px 3px 9px;
}

.note.codenote pre
{
  background-color: #0a3458;
  border-radius: 0px;
  color: white;
  font-weight: 600;
  margin: 0px;
  padding: 10px;
}

.box-caption
{
     -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  background-color: #eeeeee;
  border: 1px solid #00000026;
  border-bottom: none;
          border-radius: 4px 4px 0 0;
  overflow: auto;
  padding-bottom: 6.25px;
  padding-left: 8.5px;
  padding-right: 8.5px;
  padding-top: 4.25px;
}

.label
{
  border-radius: .25em;
  color: white;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

pre.captioned
{
     -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
          border-radius: 0 0 4px 4px;
  border-top: none;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}