<h4>Original:</h4>
<div class="box original-lighter">Lighter</div>
<div class="box original-base">Base</div>
<div class="box original-darker">Darker</div>

<br/>

<h4>Derived 1:</h4>
<div class="box derived-1-lighter">Lighter</div>
<div class="box derived-1-base">Base</div>
<div class="box derived-1-darker">Darker</div>

<br/>

<h4>Derived 2:</h4>
<div class="box derived-2-lighter">Lighter</div>
<div class="box derived-2-base">Base</div>
<div class="box derived-2-darker">Darker</div>
