<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible"        content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author"                       content="{{site.author}}"/>
  <meta name="description"                  content="{% t page.description %}"/>
  <meta name="keywords"                     content="{{site.keywords}}"/>
  <meta name="viewport"                     content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no, width=device-width"/>
  
  <meta property="og:locale" content="{% t site.og.locale %}"/>
  
  <link rel="canonical"  type="text/css" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/cores.css" | prepend: site.baseurl_root }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/fontes.css" | prepend: site.baseurl_root }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/ícones.css" | prepend: site.baseurl_root }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/ecrã.css" | prepend: site.baseurl_root }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/realce-de-síntaxe.css" | prepend: site.baseurl_root }}"/>
  
  <!-- <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title> -->
  <title>{% t page.title %}</title>
</head>