<div class="navegação">
  <nav class="subnavegação esquerda">
    <div class="logotipo">
      <a href="index.html"><img alt="{{ site.title }}" class="logotipo" src="assets/imagens/logotipo.svg"></a>
    </div>
  </nav>
  <nav class="subnavegação direita">
    <div class="itens">
      <i class="fas fa-paint-roller" name="Temas" title="Temas"></i>
    </div>
    <div class="itens">
      <i class="fas fa-moon" name="Modo Escuro" title="Modo Escuro"></i>
    </div>
  </nav>
</div>
