// Prinicpais

$cor-do-fundo-do-corpo: var(--cinza-100);
$cor-do-corpo: var(--cinza-900);
$fonte-do-corpo: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "JoyPixels", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fonte-dos-cabeçalhos: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "JoyPixels", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// Cores

$cinza-100: var(--cinza-100);
$cinza-200: var(--cinza-200);
$cinza-300: var(--cinza-300);
$cinza-400: var(--cinza-400);
$cinza-500: var(--cinza-500);
$cinza-600: var(--cinza-600);
$cinza-700: var(--cinza-700);
$cinza-800: var(--cinza-800);
$cinza-900: var(--cinza-900);
$púrpura-dankicode-100: var(--púrpura-dankicode-100);
$púrpura-dankicode-200: var(--púrpura-dankicode-200);
$púrpura-dankicode-300: var(--púrpura-dankicode-300);
$púrpura-dankicode-400: var(--púrpura-dankicode-400);
$púrpura-dankicode-500: var(--púrpura-dankicode-500);
$púrpura-dankicode-600: var(--púrpura-dankicode-600);
$púrpura-dankicode-700: var(--púrpura-dankicode-700);
$rosa-200: var(--rosa-200);
$rosa-300: var(--rosa-300);
$rosa-400: var(--rosa-400);
$rosa-500: var(--rosa-500);
$rosa-600: var(--rosa-600);
$rosa-700: var(--rosa-700);
$rosa-800: var(--rosa-800);
$rosa-900: var(--rosa-900);
$vermelho-jedai-100: var(--vermelho-jedai-100);
$vermelho-jedai-200: var(--vermelho-jedai-200);
$vermelho-jedai-300: var(--vermelho-jedai-300);
$vermelho-jedai-400: var(--vermelho-jedai-400);
$vermelho-jedai-500: var(--vermelho-jedai-500);
$vermelho-jedai-600: var(--vermelho-jedai-600);
$vermelho-jedai-700: var(--vermelho-jedai-700);
$vermelho-jedai-800: var(--vermelho-jedai-800);
$vermelho-jedai-900: var(--vermelho-jedai-900);

/* Estilo básico e optimizado */

html, body, address, blockquote, div,
form, fieldset, caption,
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, ul,
table, tr, td, th, p, img 
{
	margin: 0;
	padding: 0;
}

body, html
{
  height: 100%;
  width: 100%
}

body 
{
  background: $cor-do-fundo-do-corpo;
  color: $cor-do-corpo;
  font-family: $fonte-do-corpo;
  font-size: larger;

  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // min-height: 100%;
}

blockquote
{
  background-color: $púrpura-dankicode-100;
  color: $púrpura-dankicode-500;
  border-left: solid 10px $púrpura-dankicode-200;

  border-radius: 5px;
  padding: .75rem .6rem;
  opacity: .9;

  display: flex;
  align-items: center;
}

blockquote:before
{
  content: "\f05a";
  font-family: "Font Awesome";
  font-size: xx-large;
  font-style: normal;
  font-weight: 900;
  padding-right: 10px;
}

blockquote.aviso-vermelho:before
{
  content: "\f071";
  font-family: "Font Awesome";
  font-size: xx-large;
  font-style: normal;
  font-weight: 900;
  padding-right: 10px;
}

blockquote.vermelho
{
  background-color: $vermelho-jedai-100;
  color: $vermelho-jedai-500;
  border-left: solid 10px $vermelho-jedai-200;

  border-radius: 5px;
  padding: .75rem .6rem;
  opacity: .9;
}

code
{
  background: rgb(245, 76, 111);
  background: linear-gradient(297deg, rgba(245, 76, 111, 0.20) 0%, rgba(94, 62, 161, 0.20) 100%); 
  border-radius: .2rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-sizing: border-box;
  line-height: 32.6333px;
  overflow-wrap: break-word;
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.2rem;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $fonte-dos-cabeçalhos;
  line-height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1
{
  font-size: 30.2px;
}

h2
{
  font-size: 28.2px;
}

h3
{
  font-size: 26.2px;
}

h4
{
  font-size: 24.2px;
}

h5
{
  font-size: 22.2px;
}

h6
{
  font-size: 20.2px;
}

h1, h2
{
  color: $púrpura-dankicode-500
}

h3, h4
{
  color: $púrpura-dankicode-400
}

h5, h6
{
  color: $púrpura-dankicode-300
}

figure
{
  background-color: $cinza-200;
  border: 4px solid $rosa-300;
  border-radius: 5px;
  margin: 0px;
  padding: 20px;
}

figure img
{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figcaption
{
  background-color: $rosa-200;
  color: $rosa-800;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

img
{
  height: auto;
  max-width: 100%;
}

kbd
{
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-family: $fonte-do-corpo;
  font-size: 14px;
  line-height: 1.4;
  color: $cinza-900;
  text-shadow: 0 1px 0 white;
  background-color: $cinza-200;
  border: 1px solid $cinza-300;
  border-radius: 3px;
  box-shadow: 0 1px 0 $cinza-900, 0 0 0 2px white inset;
  white-space: nowrap;
}

main
{
  padding: 20px
}

ol 
{ 
  counter-reset: item; 
  padding-left: 30px;
}

ol > li 
{
  display: block;
}

ol > li:before 
{ 
  color: $rosa-700;
  content: counter(item) ". "; 
  counter-increment: item;
  font-family: $fonte-do-corpo;
  font-weight: bold;
  margin-left: -30px;
  padding-right: 5px;
}

ol > li > p
{
  display: contents;
}

ol > li > p > a
{
  color: $púrpura-dankicode-300;
}

ol > li > p + dl
{
  margin-bottom: 20px;
  margin-top: 20px;
}

ol > li > p + figure
{
  margin-bottom: 20px;
  margin-top: 20px;
}

ol > li > p + .video_container
{
  margin-bottom: 20px;
  margin-top: 20px;
}

ol > li > p + img
{
  margin-bottom: 20px;
  margin-top: 20px;
}

ol > li > p + ul
{
  padding-top: 10px;
}

ol li ul li p
{
  display: inline
}

ol > li > img
{
  display: block;
}

li 
{
  padding-left: 4px;
}

li:before 
{
  font-family: 'Font Awesome';
  font-weight: bold;
}

li:before 
{
  content: "\f101";
  color: $rosa-500;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

li ul li ul li:before 
{
  content: "\f101";
  color: $rosa-400;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

li ul li ul li ul li:before 
{
  content: "\f101";
  color: $rosa-300;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

ul
{
  list-style: none;
  padding-left: 20px;
}

p
{
  line-height: 110%;
  padding-bottom: 10px;
  padding-top: 10px;
}

details
{
  padding-bottom: 20px;
}

details > ul
{
  padding-left: 45px;
}

summary::before
{
  color: $rosa-500;
  content: "\f138";
  font-family: 'Font Awesome';
  font-weight: bold;
  padding-right: 10px;
  padding-top: 9px;
}

summary 
{ 
  display: flex;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

details[open] summary::before
{
  color: $púrpura-dankicode-500;
  content: "\f13a";
}

details[open] summary
{
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

summary::-webkit-details-marker::before
{
  color: $rosa-500;
  content: "\f138";
  font-family: 'Font Awesome';
  font-weight: bold;
  padding-right: 10px;
  padding-top: 9px;
}

summary::-webkit-details-marker 
{ 
  display: none;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

details[open] summary::-webkit-details-marker::before
{
  color: $púrpura-dankicode-500;
  content: "\f13a";
}

details[open] summary::-webkit-details-marker
{
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

a
{
  color: $púrpura-dankicode-500
}

a:hover
{
  color: $rosa-500
}

a, a:hover
{
  text-decoration: none;
}

dl
{
  background-color: $cinza-200;
  border-left: 10px solid $cinza-900;
  border-radius: 5px;
  padding: 10px;
  width: max-content;
}

dt
{
  color: $púrpura-dankicode-400;
  font-family: $fonte-dos-cabeçalhos;
  font-size: 22.47px;
  padding-bottom: 10px;
  padding-top: 10px;
}

dd
{
  margin-inline-start: 20px;
}

/* Menu */

.navegação
{
  background-color: $cinza-900;
  color: $cinza-100;
  padding: 16px;

  display: flex;
}

.subnavegação
{
  display: flex;
}

.subnavegação .itens 
{
  padding-right: 8px;
}

.direita 
{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.esquerda 
{
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.logotipo
{
  height: 48px;
  width: auto;
}

.logotipo img
{
  margin-top: 0px;
}

.capitalização
{
  text-transform: capitalize;
}

a[rel="external"]::after
{
  content: url(../imagens/ícones/ligação-externa.svg);
  height: 12px;
  width: 12px;
  padding-right: 5px;
}

a:hover[rel="external"]::after
{
  content: url(../imagens/ícones/ligação-externa-tocada.svg);
  height: 12px;
  width: 12px;
  padding-right: 5px;
}

sup.footnote-ref a
{ 
  color: var(--púrpura-dankicode-400); 
}

sup.footnote-ref a:hover
{ 
  color: var(--rosa-500); 
}

sup.footnote-ref::before 
{ 
  color: var(--púrpura-dankicode-400); 
  content: "[";
}

sup.footnote-ref:hover::before
{ 
  color: var(--rosa-500); 
  content: "[";
}
 
sup.footnote-ref::after 
{
  color: var(--púrpura-dankicode-400);
  content: "]";
}
 
sup.footnote-ref:hover::after 
{
  color: var(--rosa-500); 
  content: "]";
}

a.footnote-backref::before
{
  color: var(--púrpura-dankicode-300);
  content: "\f102";
  font-family: 'Font Awesome';
  font-weight: bold;
  padding-left: 5px;
}

a.footnote-backref:hover::before
{
  color: var(--rosa-400);
}

a.footnote-backref
{
  color: transparent;
}

.video_container
{
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.video_container video
{
  height: 100%;
  width: 100%;
}

@media (max-width: 900px)
{
  .highlight
  {
    overflow: auto;
    width: auto;
  }

  .highlight pre.highlight
  {
    word-wrap: break-word;
  }

  .video_container
  {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .video_container video
  {
    height: 100%;
    width: 100%;
  }

  ol > li > p 
  {
    display: contents;
    margin-bottom: 20px;
  }

  figure
  {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
  }

  figure img
  {
    border-radius: 0px;
  }

  figcaption 
  {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
  }

  blockquote
  {
    align-items: flex-start;
  }

  blockquote::before
  {
    padding-top: 13px;
  }

  blockquote.vermelho:before
  {
    padding-top: 7px;
  }

  dd .highlight
  {
    overflow: auto;
    width: auto;
  }

  dd .highlight pre.highlight
  {
    word-wrap: break-word;
  }

  dl
  {
    width: auto;
  }

  img
  {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }
}