@mixin fface($path, $family, $type: '', $weight: 400, $svg: '', $style: '') {
  @font-face 
  {
    font-family: $family;
    @if $svg == '' 
    {
      src: url('#{$path}#{$type}.woff') format('woff');
    }
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
  }
}

// ========================================================importing

$dir: '../fontes/';
$normal: normal;
$italic: italic;
$oblique: oblique;

$fa: 'Font Awesome';
@include fface('#{$dir}#{$fa}/#{$fa}', $fa, ' Regular',      400, $style: $normal);
@include fface('#{$dir}#{$fa}/#{$fa}', $fa, ' Bold',         900, $style: $normal);

$fab: 'Font Awesome Brands';
@include fface('#{$dir}#{$fa}/#{$fab}', $fab, '',            400, $style: $normal);

$josefin: 'Josefin Sans';
@include fface('#{$dir}#{$josefin}/#{$josefin}', $josefin, ' Regular',      400, $style: $normal);
@include fface('#{$dir}#{$josefin}/#{$josefin}', $josefin, ' Italic',       400, $style: $italic);
@include fface('#{$dir}#{$josefin}/#{$josefin}', $josefin, ' Bold',         700, $style: $normal);
@include fface('#{$dir}#{$josefin}/#{$josefin}', $josefin, ' Bold Italic',  700, $style: $italic);

$lato: 'Lato';
@include fface('#{$dir}#{$lato}/#{$lato}', $lato, ' Regular',      400, $style: $normal);
@include fface('#{$dir}#{$lato}/#{$lato}', $lato, ' Italic',       400, $style: $italic);
@include fface('#{$dir}#{$lato}/#{$lato}', $lato, ' Black',         700, $style: $normal);
@include fface('#{$dir}#{$lato}/#{$lato}', $lato, ' Black Italic',  700, $style: $italic);

$victor: 'Victor Mono';
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Regular',      400, $style: $normal);
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Italic',       400, $style: $italic);
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Oblique',      400, $style: $oblique);
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Bold',         700, $style: $normal);
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Bold Italic',  700, $style: $italic);
@include fface('#{$dir}#{$victor}/#{$victor}', $victor, ' Bold Oblique', 700, $style: $oblique);