$púrpura-dankicode-400: var(--púrpura-dankicode-400);
$vermelho-jedai-700: var(--vermelho-jedai-700);

summary
{
  cursor: pointer;
  display: block;
  outline: 0;
}

summary::-webkit-details-marker
{
  display: none;
}

.árvore-colapsível
{
  display: block;
  position: relative;
  // white-space: nowrap;
}

.árvore-colapsível.expansível::before
{
  border-left: 2px dotted $púrpura-dankicode-400;
  content: "";
  height: 100%;
  height: calc(100% - 2.4rem);
  left: .8rem;
  position: absolute;
  top: 2.4rem;
}

.árvore-colapsível .árvore-colapsível
{
  margin-left: 2.4rem;
}

.árvore-colapsível.expansível[open] > .árvore-colapsível-título::before
{
  color: $púrpura-dankicode-400;
  font-family: "Font Awesome";
  transform: rotate(90deg);
}

.árvore-colapsível.expansível > .árvore-colapsível-título
{
  padding-left: 2.4rem;
}

.árvore-colapsível.expansível > .árvore-colapsível-título::before
{
  content: "\f054";
  color: $vermelho-jedai-700;
  display: inline-block;
  font-family: "Font Awesome";
  font-size: 1.1rem;
  font-weight: 900;
  left: 0;
  position: absolute;
  text-align: center;
  transition: transform 300ms ease;
  width: 1.6rem;
  will-change: transform;
}

.árvore-colapsível-título
{
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  line-height: 3.2rem;
  outline: 0;
}

.árvore-colapsível-título .icon
{
  color: #666666;
  display: inline;
  font-size: 1.4rem;
  margin-right: .8rem;
  padding-left: 1.6rem;
  position: relative;
}

.árvore-colapsível-título .icon::before
{
  display: inline-block;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.6rem;
}

.árvore-colapsível-título::-webkit-details-marker
{
  display: none;
}