---
---

.hljs
{
  border-radius: 7px;
  font-family: "Victor Mono", monospace;
  font-size: 14px;
  font-variant-ligatures: common-ligatures;
  max-width: 100%;
  padding: 12px !important;
}

@import "highlightjs/shades-of-purple";

@media (max-width: 900px)
{
  .hljs
  {
    width: auto;
  }
}