@mixin font-face($style-name, $file, $family, $category:"") {
	$filepath: "fonts/" + $family + "/" + $file;
	@font-face {
			font-family: "#{$style-name}";
			src: url($filepath + ".otf")  format('opentype');
	}
	%#{$style-name} {
			font: {
					@if $category != "" {
							family: "#{$style-name}", #{$category};
					}
					@else {
							family: "#{$style-name}";
							weight: normal;
					}
			}
	}
}

@include font-face('Ashbury', 'AshburyLig-webfont', 'Ashbury', 'serif');