@font-face {
  font-family: "Font Awesome";
  src: url("../fontes/Font Awesome/Font Awesome Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Font Awesome";
  src: url("../fontes/Font Awesome/Font Awesome Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "Font Awesome";
  src: url("../fontes/Font Awesome/Font Awesome Brands.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../fontes/Josefin Sans/Josefin Sans Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../fontes/Josefin Sans/Josefin Sans Italic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../fontes/Josefin Sans/Josefin Sans Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../fontes/Josefin Sans/Josefin Sans Bold Italic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "Lato";
  src: url("../fontes/Lato/Lato Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Lato";
  src: url("../fontes/Lato/Lato Italic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Lato";
  src: url("../fontes/Lato/Lato Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Lato";
  src: url("../fontes/Lato/Lato Bold Italic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 700; }
