// @import "compass/css3";

$nome: "--laranja";
$nome-claro: claro;  
$nome-mais-claro: "mais-claro";
$nome-escuro: escuro; 
$nome-mais-escuro: "mais-escuro";
$nome-preto: "preto";

$cor: #FFAB07;

$mais-claro:  lighten($cor, 30%);
$claro:       lighten($cor, 15%);
$escuro:      darken($cor,  15%);
$mais-escuro: darken($cor,  30%);
$preto: darken($cor,  40%);

body 
{
  text-align: center;
  padding-top: 1em;
}

p {
  color: var(#{$nome}); 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;

  &.normal
  {
    color: $cor;
  }
  
  &.mais-claro 
  { 
    color: $mais-claro;
  }

  &.claro 
  { 
    color: $claro;
  }

  &.escuro 
  { 
    color: $escuro;
  }
  &.mais-escuro 
  { 
    color: $mais-escuro;
  }
  &.preto 
  { 
    color: $preto;
  }
}

:root
{
  #{$nome}: $cor;
  #{$nome}-#{$nome-claro}: $claro;
  #{$nome}-#{$nome-mais-claro}: $mais-claro;
  #{$nome}-#{$nome-escuro}: $escuro;
  #{$nome}-#{$nome-mais-escuro}: $mais-escuro;
  #{$nome}-#{$nome-preto}: $preto;
}