body {
  text-align: center;
  padding-top: 1em; }

p {
  color: var(--laranja);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em; }
  p.normal {
    color: #FFAB07; }
  p.mais-claro {
    color: #ffdfa0; }
  p.claro {
    color: #ffc554; }
  p.escuro {
    color: #ba7b00; }
  p.mais-escuro {
    color: #6d4800; }
  p.preto {
    color: #3a2600; }

:root {
  --laranja: #FFAB07;
  --laranja-claro: #ffc554;
  --laranja-mais-claro: #ffdfa0;
  --laranja-escuro: #ba7b00;
  --laranja-mais-escuro: #6d4800;
  --laranja-preto: #3a2600; }
