<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    <script src="{{ "/assets/js/highlight.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>

</html>
